# project files
z7_hdmi_driver/ip/vivado-library
*.rar
media/*.csv
media/*.pixil
media/*.vhd
media/*_bitmask.png

# vivado files
vivado
_vivado/.Xil/
_vivado/*.cache/
_vivado/*.hw/
_vivado/*.runs/
_vivado/*.srcs/sources_1/bd/mref
_vivado/*.srcs/sources_1/bd/**/ip/
_vivado/*.srcs/sources_1/bd/**/ipshared/
_vivado/*.srcs/sources_1/bd/**/sim/
_vivado/*.srcs/sources_1/bd/**/ui/
_vivado/NA/
_vivado/*.jou
_vivado/*.log
_vivado/vivado_pid*.str
_vivado/*.ip_user_files/README.txt
_vivado/vitis*.str
_vivado/*.sim

# characterization files
vivado_pll_characterization
media/pll_locked_analysis