# project files
z7_hdmi_driver/ip/vivado-library
*.rar

# vivado files
vivado/*.cache/
vivado/*.hw/
vivado/*.runs/
vivado/*.srcs/sources_1/bd/mref
vivado/NA/
vivado/*.jou
vivado/*.log
vivado/vivado_pid*.str
